body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    
}
.flexible-section{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}

.half-width img{
    width: 80%; 
}

.orange-color{
    color: orange;
}

.link-button{
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700; 
    text-decoration: none;
    border-radius: 10px;
}

.link-button:hover{
    background-image: linear-gradient(tomato,orange);
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width p{
    text-align: justify;
}

.dream-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-banner div{
    width: 40%;
}